"ReactWeb/node_modules/" 
/.vs/ReactPractise
/Api/obj/Debug/net8.0
/ReactWeb/node_modules
/.vs/ReactPractise/v17/.suo
/.vs/ReactPractise/v17/.suo
/Api/bin/Debug/net8.0/Api.dll
/Api/bin/Debug/net8.0/Api.exe
/Api/bin/Debug/net8.0/Api.pdb
